.form-heading{
    color: red;
    font-family: Arial, sans-serif;
    font-size: 21px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 15px;
    align-items: center;
}
 
.container{
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}
 
.data-entry-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
   
}
 
.form-group {
    display: flex;
    flex-direction: column;
}
 
.label-heading{
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
}
 
.input{
    width: 190px;
    margin-top: 5px;
}
 
.domain-option{
    font-family: Arial, sans-serif;
    font-size: 12px;
}
 
.select-option{
    padding: 4px;
    font-family: Arial, sans-serif;
    font-size: 13px;
}
 
.btn{
    font-family: Arial, sans-serif;
}
 
.btn:hover{
    background-color: green;
}
 