.charts-container {
    background-color: #142126;
    display: flex;
    flex-direction:row;
    /* margin-top:50px; */
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0 7px 25px #173c4b;
    width: auto;
}
@media (max-width:900px){
    .charts-container {
        flex-direction:column;
    }
}

.chart-container {
    position: relative;
    background: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    background-size: cover;
    width: 275px;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin:20px;
    height: 80vh;
}