{% extends 'base.html' %}
{% block title %}Edit Cable Matrix Phase Form{% endblock %}

{% load static %}
{% block displayFormEditPage %}
    <h1 class="form-heading">Edit Cable Matrix Phase</h1>
    <div class="form-container">
        <!-- Pop-up container for success message-->
        <div class="message-container" id="successMessage">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                <button class="btn btn-primary close-button" onclick="closePopup('successMessage')">Close</button>
            </ul>
            {% endif %}
        </div>
        <!-- Pop-up container for error message-->
        <div class="message-container" id="errorMessage">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                <button class="btn btn-primary close-button" onclick="closePopup('errorMessage')">Close</button>
            </ul>
            {% endif %}
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="data-entry-form">
                <!-- Your form fields -->
                <div class="form-group">
                    <label class="label-heading" for="olddevice">Existing Device Host Name</label>
                    <input style="display: inline-block;pointer-events: none;cursor: default;" class="input" type="text" id="olddevice" name="olddevice" value="{{ form.olddevice.value }}">
                </div>
                <div class="form-group">
                    <label class="label-heading" for="newdevice">New Device Host Name</label>
                    <input style="display: inline-block;pointer-events: none;cursor: default;" class="input" type="text" id="newdevice" name="newdevice" value="{{ form.newdevice.value }}">
                </div>
                <div class="form-group">
                    <label class="label-heading" for="cable_matrix_started_date">Cable matrix Started Date</label>
                    {% if form.cable_matrix_started_date.errors %}
                        <div class="error-message" style="color:red;font-size:12px;margin-bottom:-20px;">{{ form.cable_matrix_started_date.errors }}</div>
                    {% endif %}
                    <input class="input" type="text" id="cable_matrix_started_date" name="cable_matrix_started_date" value="{% if form.cable_matrix_started_date.value %}{{ form.cable_matrix_started_date.value|date:'m/d/Y' }}{% endif %}" placeholder="MM/DD/YYYY">
                </div>
                <div class="form-group">
                    <label class="label-heading" for="cable_matrix_completed_date">Cable matrix Completed Date</label>
                    {% if form.cable_matrix_completed_date.errors %}
                        <div class="error-message" style="color:red;font-size:12px;margin-bottom:-20px;">{{ form.cable_matrix_completed_date.errors }}</div>
                    {% endif %}
                    <input class="input" type="text" id="cable_matrix_completed_date" name="cable_matrix_completed_date" value="{% if form.cable_matrix_completed_date.value %}{{ form.cable_matrix_completed_date.value|date:'m/d/Y' }}{% endif %}" placeholder="MM/DD/YYYY">
                </div>
                <div class="form-group">
                    <label class="label-heading" for="cable_matrix_status">Cable Matrix Status</label>
                    <select class="input select-option" id="cable_matrix_status" name="cable_matrix_status" required>
                        <option value="" {% if not form.cable_matrix_status.value %} selected {% endif %} disabled>Select a Status</option>
                        <option value="In Progress" {% if form.cable_matrix_status.value == 'In Progress' %} selected {% endif %}>In Progress</option>
                        <option value="Completed" {% if form.cable_matrix_status.value == 'Completed' %} selected {% endif %}>Completed</option>
                        <option value="Not Required" {% if form.cable_matrix_status.value == 'Not Required' %} selected {% endif %}>Not Required</option>
                        <option value="Cancelled" {% if form.cable_matrix_status.value == 'Cancelled' %} selected {% endif %}>Cancelled</option>
                        <option value="Yet To Work" {% if form.cable_matrix_status.value == 'Yet To Work' %} selected {% endif %}>Yet To Work</option>
                        <option value="Not yet Started" {% if form.cable_matrix_status.value == 'Not yet Started' %} selected {% endif %}>Not Yet Started</option>
                    </select>
                </div>
                
                
                <div class="form-group">
                    <label class="label-heading" for="comment">Comment</label>
                    <textarea id="comment" name="cable_matrix_comment" rows="4">{{ form.cable_matrix_comment.value }}</textarea>
                </div>
            </div>
            <div style="margin-top:50px">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </form>
    </div>
    <script>
        function showPopup(type) {
            var popup = document.getElementById(type);
            popup.style.display = 'block';
        }

        function closePopup(type) {
            var popup = document.getElementById(type);
            popup.style.display = 'none';
        }

        window.onload = function() {
            {% if messages %}
                {% if messages.tags == 'success' %}
                    showPopup('successMessage');
                {% else %}
                    showPopup('errorMessage');
                {% endif %}
            {% endif %}
        }
    </script>
{% endblock %}
