{% extends 'base.html' %}
{% block title %}Edit Network Design Form{% endblock %}

{% load static %}
{% block displayFormEditPage %}
    <h1 class="form-heading">Edit Network Design</h1>
    <div class="form-container">
        <!-- Pop-up container for success message-->
        <div class="message-container" id="successMessage">
            <!-- Success messages -->
            {% if messages %} 
            <ul class="messages">
                <!-- For loop to get submit result message -->
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                <!-- Close button -->
                <button class="btn btn-primary close-button" onclick="closePopup()">Close</button>
            </ul>
            {% endif %}
        </div>
        <!-- Pop-up container for error message-->
        <div class="message-container" id="errorMessage">
            <!-- Success messages -->
            {% if messages %}
            <ul class="messages">
                <!-- For loop to get submit result message -->
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                <!-- Close button -->
                <button class="btn btn-primary close-button" onclick="closePopup()">Close</button>
            </ul>
            {% endif %}
        </div>
        <form method="POST">
            {% csrf_token %}
            {% comment %} {{form.as_p}} {% endcomment %}
            <div class="data-entry-form">
                <div class="form-group">
                    <label class="label-heading" for="olddevice">Existing Device Host Name</label>
                    {% comment %} style="display: inline-block;pointer-events: none;cursor: default;"  {% endcomment %}
                    <input style="display: inline-block;pointer-events: none;cursor: default;" class="input" type="text" id="olddevice" name="olddevice" value="{{ form.olddevice.value }}">
                </div>
                <div class="form-group">
                    <label class="label-heading" for="newdevice">New Device Host Name</label>
                    <input style="display: inline-block;pointer-events: none;cursor: default;" class="input" type="text" id="newdevice" name="newdevice" value="{{ form.newdevice.value }}">
                </div>
                <div class="form-group">
                    <label class="label-heading" for="start_date">Network Design Start Date</label>
                    {% if form.network_design_start_date.errors %}
                        <div class="error-message" style="color:red;font-size:12px;margin-bottom:-20px;">{{ form.network_design_start_date.errors }}</div>
                    {% endif %}
                    <input class="input" type="text" id="start_date" name="network_design_start_date" value="{% if form.network_design_start_date.value %}{{ form.network_design_start_date.value|date:'m/d/Y' }}{% endif %}" placeholder="MM/DD/YYYY">
                    
                </div>
                <div class="form-group">
                    <label class="label-heading" for="close_date">Network Design Close Date</label>
                    {% if form.network_design_close_date.errors %}
                        <div class="error-message" style="color:red;font-size:12px;margin-bottom:-20px;">{{ form.network_design_close_date.errors }}</div>
                    {% endif %}
                    <input class="input" type="text" id="close_date" name="network_design_close_date" value="{% if form.network_design_close_date.value %}{{ form.network_design_close_date.value|date:'m/d/Y' }}{% endif %}" placeholder="MM/DD/YYYY">
                    
                </div>
                {% comment %} <div class="form-group">
                    <label class="label-heading" for="trd">Network Design Close Date</label>
                    <input class="input" type="date" id="trd" name="network_design_close_date" value="{% if form.network_design_close_date.value %}{{ form.network_design_close_date.value|date:'Y-m-d' }}{% endif %}">
                </div> {% endcomment %}
                <div class="form-group">
                    <label class="label-heading" for="network_design_status">Network Design Status</label>
                    <select class="input select-option" id="network_design_status" name="network_design_status" required>
                    <option value="" {% if not form.network_design_status.value %} selected {% endif %} disabled selected>Select a Status</option>
                    <option value="In Progress" {% if form.network_design_status.value == 'In Progress' %} selected {% endif %}>In Progress</option>
                    <option value="Completed" {% if form.network_design_status.value == 'Completed' %} selected {% endif %}>Completed</option>
                    <option value="Not Required" {% if form.network_design_status.value == 'Not Required' %} selected {% endif %}>Not Required</option>
                    <option value="Cancelled" {% if form.network_design_status.value == 'Cancelled' %} selected {% endif %}>Cancelled</option>
                    <option value="Yet To Work" {% if form.network_design_status.value == 'Yet To Work' %} selected {% endif %}>Yet To Work</option>
                    <option value="Not yet Started" {% if form.network_design_status.value == 'Not yet Started' %} selected {% endif %}>Not Yet Started</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="label-heading" for="comment">Comment</label>
                    <textarea id="comment" name="network_design_comment" rows="4">{{ form.network_design_comment.value }}</textarea>
                </div>
            </div>
            <div style="margin-top:50px">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </form>
    </div>
    <!-- JavaScript to control actions -->
    <script>
        // Function to show the pop-up for success message
        function showPopup(id) {
            var popup = document.getElementById('successMessage');
            popup.style.display = 'block'; // Show the pop-up
        }
    
        // Function to close the pop-up for success message
        function closePopup(id) {
            var popup = document.getElementById('successMessage');
            popup.style.display = 'none'; // Hide the pop-up
        }
    
        // Check if there are success or error messages on page load and show pop-ups if present
        window.onload = function() {
            var successMessage = document.querySelector('.messages .success');
            var errorMessage = document.querySelector('.messages .error');
            
            if (successMessage) {
                showPopup('successMessage');
            }
            
            if (errorMessage) {
                showPopup('errorMessage');
            }
        };
    
    
        {% comment %} // Select all checkbox functionality
        var selectAllCheckbox = document.getElementById('select-all-checkbox');
        var itemCheckboxes = document.querySelectorAll('.item-checkbox');
    
        selectAllCheckbox.addEventListener('change', function() {
            itemCheckboxes.forEach(function(checkbox) {
                checkbox.checked = selectAllCheckbox.checked;
            });
        }); {% endcomment %}
    </script>
{% endblock %}
