{% extends 'base.html' %}
{% block title %}Edit Static Form{% endblock %}
{% load static %}
{% block displayStaticFormEditPage %}

<h2 class="form-heading">Edit Cable Matrix</h2>
    <div class="form-container">
        <!-- Pop-up container for success message-->
        <div class="message-container" id="successMessage">
            <!-- Success messages -->
            {% if messages %}
            <ul class="messages">
                <!-- For loop to get submit result message -->
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                <!-- Close button -->
                <button class="btn btn-primary close-button" onclick="closePopup()">Close</button>
            </ul>
            {% endif %}
        </div>
        <!-- Pop-up container for error message-->
        <div class="message-container" id="errorMessage">
            <!-- Success messages -->
            {% if messages %}
            <ul class="messages">
                <!-- For loop to get submit result message -->
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                <!-- Close button -->
                <button class="btn btn-primary close-button" onclick="closePopup()">Close</button>
            </ul>
            {% endif %}
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="data-entry-form" >
                <div class="form-group">
                    <label class="label-heading" for="requestor">Requestor</label> 
                    <input class="input" type="text" id="requestor" name="requestor" value="{{form.requestor.value}}">
                </div>
                <div class="form-group">
                    <label class="label-heading" for="requesttype">Request Type</label>
                    <input class="input" type="text" id="requesttype" name="requesttype" value="{{form.requesttype.value}}">
                </div>
                <div class="form-group">
                    <label class="label-heading" for="olddevice">Existing Device Host Name</label>
                    <input class="input" type="text" id="olddevice" name="olddevice" value="{{ form.olddevice.value}}">
                </div>
                <div class="form-group">
                    <label class="label-heading" for="oldmodel">Existing Device Model</label>
                    <input class="input" type="text" id="oldmodel" name="oldmodel" value="{{form.oldmodel.value}}">
                </div>
                <div class="form-group">
                    <label class="label-heading" for="rrd">Requirement Received Date</label>
                    {% if form.rrd.errors %}
                        <div class="error-message" style="color:red;font-size:12px;margin-bottom:-20px;">{{ form.rrd.errors }}</div>
                    {% endif %}
                    <input class="input" type="text" id="rrd" name="rrd" value="{% if form.rrd.value %}{{ form.rrd.value|date:'m/d/Y' }}{% endif %}" placeholder="MM/DD/YYYY">
                    
                </div>
                {% comment %} <div class="form-group">
                    <label class="label-heading" for="rrd">Requirement Received Date</label>
                    <input class="input" type="text"  id="rrd" name="rrd" value="{% if form.rrd.value %}{{ form.rrd.value|date:'m/d/Y'}}{% endif %}">
                </div> {% endcomment %}
                
                {% comment %} <div class="form-group">
                    <label class="label-heading" for="rrd">Requirement Received Date</label>
                    <input class="input" type="date" id="rrd" name="rrd" value="{% if form.rrd.value %}{{ form.rrd.value|date:'m/d/Y' }}{% endif %}">
                </div> {% endcomment %}
                <div class="form-group">
                    <label class="label-heading" for="ipn">Implementation PMATT NO</label>
                    <input class="input" type="text" id="ipn" name="ipn" value="{{form.ipn.value}}">
                </div>
                <div class="form-group">
                    <label class="label-heading" for="cpn">Capital PMATT NO</label>
                    <input class="input" type="text" id="cpn" name="cpn"value="{{form.cpn.value}}">
                </div>
                <div class="form-group">
                    <label class="label-heading" for="pn">Project Name</label>
                    <input class="input" type="text" id="pn" name="pn" value="{{form.pn.value}}">
                </div>
                <div class="form-group">
                    <label class="label-heading" for="pm">Project Manager</label>
                    <input class="input" type="text" id="pm" name="pm" value="{{form.pm.value}}">
                </div>
                <div class="form-group">
                    <label class="label-heading" for="newdevice">New Device Host Name</label>
                    <input class="input" type="text" id="newdevice" name="newdevice" value="{{ form.newdevice.value}}">
                </div>
                <div class="form-group">
                    <label class="label-heading" for="newmodel">New Device Model</label>
                    <input class="input" type="text" id="newmodel" name="newmodel" value="{{form.newmodel.value}}">
                </div>
                <div class="form-group">
                    <label class="label-heading" for="location">Location</label>
                    <input class="input" type="text" id="location" name="location" value="{{form.location.value}}">
                </div>
                <div class="form-group">
                    <label class="label-heading" for="clli">CLLI Code</label>
                    <input class="input" type="text" id="clli" name="clli" value="{{form.clli.value}}">
                </div>
                <div class="form-group">
                    <label class="label-heading" for="domain">Domain</label>
                    <input class="input" type="text" id="domain" name="domain" value="{{form.domain.value}}">
                </div>

                {% comment %} <div class="form-group">
                    <label class="label-heading" for="trd">DCS Requested Date</label>
                    <span class="input" type="date" id="trd" name="requested_date">{{form.requested_date}}</span>
                </div>
                <div class="form-group">
                    <label class="label-heading" for="tri">DCS Request ID</label>
                    <span class="input" type="text" id="tri" name="request_id">{{form.request_id}}</span>
                </div>
                <div class="form-group">
                    <label class="label-heading" for="tra">DCS Request Approved Date</label>
                    <span class="input" type="date" id="tra" name="approved_date">{{form.approved_date}}</span>
                </div>
                <div class="form-group">
                    <label class="label-heading" for="status">DCS Request Status</label>
                    <select class="input select-option" id="status" name="status" required>
                        <option value=""  selected>Select a Status</option>
                        <option value="Active">Active</option>
                        <option value="Close">Close</option>
                        <option value="On Hold">On Hold</option>
                        <option value="Cancelled">Cancelled</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="label-heading" for="power_status">Power/Cabinets Status</label>
                    <select class="input select-option" id="power_status" name="power_status" required>
                        <option value="" disabled selected>Select a Status</option>
                        <option value="Active">Active</option>
                        <option value="Close">Close</option>
                        <option value="On Hold">On Hold</option>
                        <option value="Cancelled">Cancelled</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="label-heading" for="rack_status">Rack/Stack Status</label>
                    <select class="input select-option" id="rack_status" name="rack_status" required>
                        <option value="" disabled selected>Select a Status</option>
                        <option value="Active">Active</option>
                        <option value="Close">Close</option>
                        <option value="On Hold">On Hold</option>
                        <option value="Cancelled">Cancelled</option>
                    </select>
                </div> {% endcomment %}
            </div>
            
            

            <div style="margin-top:50px">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>

            <div style="margin:50px 0 0 10%">
                <a href="{% url 'cb_home' %}">
                    <button class="btn btn-primary" type="submit">Back</button>
                </a>
            </div>
            
        </form>
        
    </div>

    <!-- JavaScript to control pop-up visibility -->
<script>
    // Disable keyboard interaction in readonly fields
    document.querySelectorAll('.readonly-field').forEach(function(element) {
        element.addEventListener('keydown', function(event) {
            event.preventDefault();
        });
    });

    // Function to show the pop-up for success message
    function showPopup() {
        var popup = document.getElementById('successMessage');
        popup.style.display = 'block'; // Show the pop-up
    }

    // Function to close the pop-up for success message
    function closePopup() {
        var popup = document.getElementById('successMessage');
        popup.style.display = 'none'; // Hide the pop-up
    }

    // Check if there are success messages on page load and show pop-up if present
    window.onload = function() {
        var successMessage = document.querySelector('.messages .success');
        if (successMessage) {
            showPopup();
        }
    };

    // Function to show the pop-up for error message
    function showPopup() {
        var popup = document.getElementById('errorMessage');
        popup.style.display = 'block'; // Show the pop-up
    }

    // Function to close the pop-up for error message
    function closePopup() {
        var popup = document.getElementById('errorMessage');
        popup.style.display = 'none'; // Hide the pop-up
    }

    // Check if there are error messages on page load and show pop-up if present
    window.onload = function() {
        var successMessage = document.querySelector('.messages .error');
        if (successMessage) {
            showPopup();
        }
    };
</script>


{% endblock %}

{% comment %} <h2>Edit Cable Matrix</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update Cable Matrix</button>
</form> {% endcomment %}