{% extends 'base.html' %}
{% block title %}Device Installation Status Page{% endblock %}
{% load static %}
{% block displayPhasePage %}
    <div>
        <h1 class="header" style="text-align:center;margin-top:6px">Phase - Device Installation Status</h1>
    </div>

    <!-- Pop-up container for success message -->
    <div class="message-container" id="successMessage">
        <!-- Success messages -->
        {% if messages %}
        <ul class="messages">
            <!-- For loop to get submit result message -->
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            <!-- Close button -->
            <button class="btn btn-primary close-button" onclick="closePopup()">Close</button>
        </ul>
        {% endif %}
    </div>

    <!-- Pop-up container for error message-->
    <div class="message-container" id="errorMessage">
        <!-- Success messages -->
        {% if messages %}
        <ul class="messages">
            <!-- For loop to get submit result message -->
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            <!-- Close button -->
            <button class="btn btn-primary close-button" onclick="closePopup()">Close</button>
        </ul>
        {% endif %}
    </div>

    <div class="status-cards">
        <div class="status-card" style="background-color:white;" id="total-card">
            <a href="#" style="text-decoration:none; color:white">
                <h2 style="color:black;" id="total-count">{{ rows_count }}</h2>
                <p style="color:black;">Total devices</p>
            </a>
        </div>
        <div class="status-card" style="background-color:#2ecc71;" id="inprogress-card">
            <a href="#" style="text-decoration:none; color:white">
                <h2 id="inprogress-count">{{ in_progress_count }}</h2>
                <p>In progress</p>
            </a>
        </div>
        <div class="status-card" style="background-color:#3498db;" id="completed-card">
            <a href="#" style="text-decoration:none; color:white">
                <h2 id="completed-count">{{ completed_count }}</h2>
                <p>Completed</p>
            </a>
        </div>
        <div class="status-card" style="background-color:orange;" id="not_yet_started_count">
            <h2 id="not_yet_started_count">{{ not_yet_started_count }}</h2>
            <p>Not Yet Started</p>
        </div>
        <div class="status-card" style="background-color:#e74c3c;" id="cancelled-card">
            <h2 id="cancelled-count">{{ cancelled_count }}</h2>
            <p>Cancelled</p>
        </div>
    </div>

    <!-- Table heading container -->
    <div style="display:flex; flex-direction:row;justify-content:space-between;align-items:center; margin:20px 30px 10px 10px; ">
        <!-- Table Heading -->
        <h1 style="font-size:18px;font-weight:600;margin:0 10px 0 0">Device Installation devices:</h1>
        <form id="search-form" method="GET" action="{% url 'dcs_request' %}">
            <!--Search input -->
            <input type="text" id="search-input" name="q" value="{{ query }}" placeholder="Search...">
        </form>
    </div>

    <!-- Table to display DCS Requests -->
    <div class="table-container" style="max-height: 340px; overflow-y: auto;">
        <table id="dcs-request-table" style="margin:0 10px 10px 10px;width:98%;">
            <thead>
                <tr>
                    {% comment %} <th><input type="checkbox" id="select-all-checkbox"></th> {% endcomment %}
                    <th>Existing Device Host Name</th>
                    <th>New Device Host Name</th>
                    <th>Tickets Required</th>
                    <th>Device Installation Requested Date</th>
                    <th>Tickets Requested Date</th>
                    <th>Tickets Requested ID</th>
                    <th>Tickets Closed Date</th>
                    <th>Device Installation Status</th>
                    <th>Device Installation Completion Date</th>
                    <th>Comment</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for dis in filtered_requests %}
                <tr>
                    {% comment %} <td><input type="checkbox" class="item-checkbox" name="selected_items" value="{{ dcs_request.id }}"></td> {% endcomment %}
                    <td>{{ dis.olddevice }}</td>
                    <td>{{ dis.newdevice }}</td>
                    <td>{{ dis.installation_tickets_required }}</td>
                    <td>{{ dis.device_installation_requested_date }}</td>
                    <td>{{ dis.installation_tickets_requested_date }}</td>
                    <td>{{ dis.installation_tickets_requested_id }}</td>
                    <td>{{ dis.installation_tickets_closed_date }}</td>
                    <td>{{ dis.device_installation_status }}</td>
                    <td>{{ dis.device_installation_completion_date }}</td>
                    <td>{{ dis.installation_comment }}</td>
                    <td>
                        <form action="#" method="post">
                            {% csrf_token %}
                            <div style="display:flex;flex-direction:row; justify-content:center">
                                <div>
                                    <a href="{% url 'edit_dis' dis.id %}" class="edit-link"><img src="{% static 'images/edit_icon.png'%}" width="24px"></a>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7">Devices INstallation devices are not found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


<!-- JavaScript to control pop-up visibility -->
<script>
    // Function to show the pop-up for success message
    function showPopup(id) {
        var popup = document.getElementById('successMessage');
        popup.style.display = 'block'; // Show the pop-up
    }

    // Function to close the pop-up for success message
    function closePopup(id) {
        var popup = document.getElementById('successMessage');
        popup.style.display = 'none'; // Hide the pop-up
    }

    // Check if there are success or error messages on page load and show pop-ups if present
    window.onload = function() {
        var successMessage = document.querySelector('.messages .success');
        var errorMessage = document.querySelector('.messages .error');
        
        if (successMessage) {
            showPopup('successMessage');
        }
        
        if (errorMessage) {
            showPopup('errorMessage');
        }
    };


    {% comment %} // Select all checkbox functionality
    var selectAllCheckbox = document.getElementById('select-all-checkbox');
    var itemCheckboxes = document.querySelectorAll('.item-checkbox');

    selectAllCheckbox.addEventListener('change', function() {
        itemCheckboxes.forEach(function(checkbox) {
            checkbox.checked = selectAllCheckbox.checked;
        });
    }); {% endcomment %}
</script>
    
{% endblock %}